services:
  mssql-server:
    image: mcr.microsoft.com/mssql/server:2025-latest
    container_name: mssql-server
    ports:
      - "1433:1433" # Map host port 1433 to container port 1433
    environment:
      SA_PASSWORD: "WellThoughtThing12!!" # Replace with a strong password
      ACCEPT_EULA: "Y"
    volumes:
      - mssql_data:/var/opt/mssql # Persistent storage for SQL Server data

  dotnet-app:
    build: . # Build the .NET application from the current directory
    container_name: BgtecAssessmentApi
    ports:
      - "8080:7979" 
      - "8081:8081"
    depends_on:
      - mssql-server # Ensures mssql-server starts before dotnet-app

    environment:
      - ASPNETCORE_ENVIRONMENT=Release
      - ASPNETCORE_HTTPS_PORTS=7979
      - ASPNETCORE_Kestrel__Certificates__Default__Password=passthing111
      - ASPNETCORE_Kestrel__Certificates__Default__Path=/https/aspnetapp.pfx
    volumes:
      - ~/.aspnet/https:/https:ro

volumes:
  mssql_data: